sudo: false
dist: trusty
language: c
addons:
  apt:
    packages:
      - sbcl
compiler: gcc
script:
  - ./configure && make -j3 2>&1 | grep -F -e '"echo )co' -e 'user error' -e 'error in function' -e 'Spad syntax error' | sed 's/ | DAASE.*//'
  - cd src/input && make -j2 | grep 'tee.*output'
  - ../scripts/test.sh
